header h1{
    font-size: 6rem;
    text-align: center;
    color:black;
    background-color: white;
}


body{
    margin: 0;
    background-color:aqua;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

section p{
    color:black;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section article{
    text-align: center;
   transition: box-shadow 0.9s ease;
   background-color:springgreen;
   margin: 0.5rem 0;
   border-radius: 25rem;
   padding: 0.25rem 0;
   cursor:no-drop
   

}

header{
    background-color: black;
    color: white;
    padding: 3rem 2rem;
}

section p{
    background-color: white;
    text-align: center;
}





